#root
  width 100%
  height 100%
.frame
  min-width 1200px
  height 100%
.frame-main
  @extend .frame
  /.main-col
    height 100%
    overflow-y auto
  /.sidebar-col
    @extend .main-col
    background-color #fff
